.card {
    width: 845px;
    height: 650px;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: 20px;

}

.card img {
    width: 845px;
    height: 450px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.author {
    display: flex;

}

.author img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.author h4 {
    margin: 0;
    margin-top: 5px;
}

.author p {
    margin: 2px;
}

.author-details {
    margin-left: 20px;
}

.author-container {
    display: flex;
    justify-content: space-between;
}

.bookmark {
    display: flex;
    align-items: center;
}

.btn {
    background-color: whitesmoke;
    text-decoration: none;
}

.mark-read {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    text-decoration-line: underline;

    color: #6047EC;
    margin-top: 35px;

}

.title{
    margin: 0;
}