.blog-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.blogs-container {}

.qa{
    width: 868px;
    height: 445px;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
}

.qa h4{
    margin: 0;
}

.qa p{
    margin: 5px;
}

@media screen and (max-width: 576px) {
    .blog-container{
        display: flex;
        flex-direction: column;
    }
}